.loginContainer {
    text-align: center;
    background-image: url(../../src/images/mark-cruz-Qg4riM5TQiI-unsplash.jpg) ;
    background-size: cover; 
    height: 100vh;
    .login-row, .open-row, .description-row, .title-row, .login-link-row, .signup-row, .signup-link-row  {
        display: flex;
        justify-content: center;
        
    }
    .title-col {
        display: flex;
        justify-content: center;
        span {
            font-family: $title-font;
            color: #eeeeee;
            display: inline-block;
            font-size: 60px;
        }
    }

    .login-link-col, .signup-link-col {
        border: 2px solid #eeeeee;
        border-radius: 5px;
        span {
            font-family: $main-font;
            text-align: center;
            text-decoration: none;
            color: #eeeeee;
        }
    }
    .login-link-col {
        margin-top: 370px;
    }
    .signup-link-col {
        margin-top: 17px;
    }

    .description-row {
        .description-col {
            width:16em;
            height:1.5em;
            border: 2px solid #eeeeee;
            border-radius: 10px;
            margin-top:-28px;
            padding: 0;
            span {
                color: #eeeeee;
                font-family: $main-font;
                font-size: 14px;
            }
        }
    }

    

    .btn-row {
        display: flex;
        justify-content: center;
        .btn-col {
            border: 2px solid #eeeeee;
            border-radius: 5px;
            margin-top:5px;
            span {
                color: #eeeeee;
                font-family: $main-font;
            }
        }
    }

    
    
    .login-row{
        margin-top:40px;
        // position: relative;
        &::before {
            position: absolute;
            width: 200px;
            height: 260px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            color: #eeeeee;
        }
        .login-col {
            position: relative;
            
            &::before {
                position: absolute;
                
            }
        }
        h2 {
            font-family: $main-font;
            color: #eeeeee;
            font-weight: 400;
            margin-top:5px;
            margin-bottom:5px;
        }
        .btn-col {
            margin-top:10px;
            
        }
    }

    .signup-row {
        margin-top: 40px;
        &::before {
            position: absolute;
            width: 200px;
            height: 440px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 5px;

        }
        .signup-col {
            position: relative;
            &::before {
                position: absolute;
            }
            h2 {
                font-family: $main-font;
                color: #eeeeee;
                font-weight: 400;
            }
        }
        .btn-col {
            margin-top:18px;
            
        }
    }
}