.mainContainer {
    text-align: center;
    background-color: black;
    background-size: cover; 
    height: 100vh;
    
    .logged-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title-col {
            display: flex;
            justify-content: center;
            span {
                font-family: $title-font;
                color: #eeeeee;
                display: inline-block;
                font-size: 200%;
                padding:0;
            }
        }
    
        .description-row {
            .description-col {
                width: 99%;
                height:1em;
                border: 2px solid #eeeeee;
                border-radius: 10px;
                margin-top:-17px;
                padding: 0.5px;
                display: flex;
                justify-content: center;
                margin-left:6px;
                span {
                    color: #eeeeee;
                    font-family: $main-font;
                    font-size: 7.5px; 
                }
            }
        }
    }

    .logged-name {
        // font-family: $title-font;
        .hello-col {
            margin: 6px 0 -10px 0;
        }

        span {
            overflow-wrap: break-word;
            font-family: $main-font;
            color: #eeeeee;
            font-size: 90%;
            margin-top:7px;
        }
    }

    .weekly-advice__row {
        display: flex;
        justify-content: center;
        margin-top:20px;
        .weekly-advice__col {
            background:linear-gradient(
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.3)
              ), url('../../src/images/prowad_na_zakr.jpg');
            background-size: cover;
            height: 10em;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            
            h2, h3 {
                font-family: $main-font;
                font-weight: 400;
                text-align: start;
            }
            h2 {
                color: white;
            }
            h3 {
                color: #eeeeee;
            }

        }
    }

    .nav-row {
        display: flex;
        justify-content: center;
        margin-top:20px;
        .nav-col {
            display: flex;
            justify-content: space-between;
            span {
                color: #eeeeee;
                font-family: $main-font;
                font-size: 18px;
                position: relative;
                &:hover::after {
                    content: "";
                    display: block;
                    width: 101%;
                    height: 4px;
                    background-color: aqua;
                    position: absolute;
                    top: 28px;
                    right: -1px;
                }
                
            }
        }
    }
    .advices-row {
        display: flex;
        justify-content: center;
        max-height: 310px; 
        .advices-col {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .advice {

                padding:10px;
                height: 130px;
                margin-top:20px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
                position:relative;
                
                h3 {
                    color: white;
                    font-family: $main-font;
                    font-weight: 500;
                }
    
                h5 {
                    color: #eeeeee;
                    font-family: $main-font;
                    font-weight: 500;
                }
            }
        }
    }
    
    .quiz-row {
        margin-top:20px;
        display: flex;
        justify-content: center;
        .quiz-col {
            background:linear-gradient(
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.3) ), 
                url('../../src/images/prace.jpg');
            background-size: cover;
            height: 19em;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-family: $main-font;
                color: #eeeeee;
            }

        }
        
    }
    
    

}