.mainContainer {
    text-align: center;
    background-color: black;
    background-size: cover; 
    min-height: 100vh;
    .logged-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title-col {
            display: flex;
            justify-content: center;
            span {
                font-family: $title-font;
                color: #eeeeee;
                display: inline-block;
                font-size: 200%;
                padding:0;
            }
        }
    
        .description-row {
            .description-col {
                width: 99%;
                height:1em;
                border: 2px solid #eeeeee;
                border-radius: 10px;
                margin-top:-17px;
                padding: 0.5px;
                display: flex;
                justify-content: center;
                margin-left:6px;
                span {
                    color: #eeeeee;
                    font-family: $main-font;
                    font-size: 7.5px; 
                }
            }
        }
    }

    .logged-name {
        // font-family: $title-font;
        .hello-col {
            margin: 6px 0 -10px 0;
        }

        span {
            overflow-wrap: break-word;
            font-family: $main-font;
            color: #eeeeee;
            font-size: 90%;
            margin-top:7px;
        }
    }

    .weekly-advice__row {
        display: flex;
        justify-content: center;
        margin-top:20px;
        .weekly-advice__col {
            background:linear-gradient(
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.3)
              ),
              url('../../src/images/prowad_na_zakr.jpg');
            background-size: cover;
            height: 10em;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            
            h2, h3 {
                font-family: $main-font;
                font-weight: 400;
                text-align: start;
            }
            h2 {
                color: white;
            }
            h3 {
                color: #eeeeee;
            }

        }
    }

    .nav-row {
        display: flex;
        justify-content: center;
        margin-top:20px;
        .nav-col {
            display: flex;
            justify-content: space-between;
            span {
                color: #eeeeee;
                font-family: $main-font;
                font-size: 18px;
                position: relative;
                &:hover::after {
                    content: "";
                    display: block;
                    width: 101%;
                    height: 4px;
                    background-color: aqua;
                    position: absolute;
                    top: 28px;
                    right: -1px;
                }
                
            }
        }
    }
    .advices-row {
        display: flex;
        justify-content: center;
        max-height: 310px; 
        .advices-col {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .advice {
                text-decoration: none;
                padding:10px;
                height: 130px;
                margin-top:20px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
                position:relative;
                h3 {
                    color: white;
                    font-family: $main-font;
                    font-weight: 500;
                }
    
                h5 {
                    color: #eeeeee;
                    font-family: $main-font;
                    font-weight: 500;
                }
            }
        }
    }
    
    // .quiz-row {
    //     margin-top:20px;
    //     display: flex;
    //     justify-content: center;
    //     .quiz-col {
    //         background:linear-gradient(
    //             rgba(0, 0, 0, 0.3), 
    //             rgba(0, 0, 0, 0.3) ), 
    //             url('../../src/images/prace.jpg');
    //         background-size: cover;
    //         height: 18em;
    //         border-radius: 10px;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         h2 {
    //             font-family: $main-font;
    //             color: #eeeeee;
    //             font-weight: 400;
    //         }

    //     }
        
    // }

    .advice-title__col {
        display: flex;
        justify-content: center;
        margin-top:10px;
        h3 {
            font-family: $main-font;
            color: #eeeeee;
            font-size: 24px;
            font-weight: 500;
        }
    }

    .advice-image__row {
        display: flex;
        justify-content: center;
        margin-top:10px;
        .advice-image__col {
            height: 180px;
            border-radius: 10px;
        }
    }
    .advice-lvl__row{
        display: flex;
        justify-content: center;
        .advice-lvl__col {
            display: flex;
            justify-content: flex-start;
            span {
                color: #eeeeee;
                font-family: $main-font;
                font-size: 14px;
            }
        }
    }   

    .advice-info__row {
        display: flex;
        justify-content: center;
        .advice-info__col {
            text-align: left;
            span {
                color: #eeeeee;
                font-family: $main-font;
                font-size:18px;
                // text-align: left;
            }
        }
    }
    .advice-list__row {
        display: flex;
        justify-content: center;
        .advice-list__col {
            ul {
                li {
                    text-align: left;
                    list-style: none;
                    color: #eeeeee;
                    font-family: $main-font;
                    margin-top: 5px;
                    font-size:15px;
                }
            }
        }
    }

    .advice1-iamge__col {
        background-image: url(../../src/images/zasady_ruchu_drog.jpg);
    }
    .advice2-image__col {
        background-image: url(../../src/images/znaki.jpg);
    }
    .advice3-image__col {
        background-image: url(../../src/images/techniki_hamowania.jpg);
    }
    .advice4-image__col {
        background-image: url(../../src/images/bezpieczna_jazda.jpg);
    }
    .advice5-image__col {
        background-image: url(../../src/images/prowad_na_zakr.jpg);
    }

    .faq-search__row {
        display: flex;
        justify-content: center;
        .faq-search__col {
            margin-top:10px;
            .searchInput {
                color: #eeeeee;
                height:30px;
                background-color: #3F3E42;
                border: 1px solid #3F3E42;
                border-radius: 5px;
                outline: none;
                padding:4px;
                &::placeholder {
                    color: #eeeeee;
                }
            }
        }
    }
    .faq-row {
        display: flex;
        justify-content: center;
        margin-top:10px;
        .faq-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h4, h5 {
                font-family: $main-font;
                font-weight: 400;
                text-align: left;
            }
            h4 {
                color: #eeeeee;
                margin-top:5px;
                
            }
            h5{
                color: grey;
                display: inline-block;
                // padding-bottom: -55px;
            }
            

        }
    }

    .faq-sum-row {
        display: flex;
        justify-content: center;
        .faq-sum-col {
            h3 {
                margin-top:10px;
                color: grey;
                font-family: $main-font;
                font-weight: 400;
            }
        }
    }
    .quiz-row {
        display: flex;
        justify-content: center;
        .quiz-col {
            .question-row {
                margin-top:10px;
                .question-col {
                    color: grey;
                    font-family: $main-font;
                    text-align: center;
                }
            }
            .answer-row {
                .answer-col {
                    display: flex;
                    flex-wrap: wrap;
                    .answerBtn {
                        color: #eeeeee;
                        background-color: black;
                        border: 2px solid #eeeeee;
                        border-radius: 10px;
                        margin:5px;
                        font-family: $main-font;
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
    

    
    
    
    
    

}